{
  "APP_VERSION": "",
  "LOCAL_BASE_URL": "",
  "EMULATOR_BASE_URL": "",
  "PROD_BASE_URL": "",
  "BLOB_BASE_URL": "",
  "DEFAULT_BASE_URL": "",
  "CENTRAL_APP_KEY": "",
  "MOBILE_REDIRECT_URI": "",
  "CALLYN_ANALYTICS_BASE_URL": "",
  "OPERATIONS_BASE_URL": "",
  "OPERATIONS_APP_KEY": "",
  "ATTENDANCE_BASE_URL": "",
  "DAFTAR_APP_KEY": "",
  "INTERNAL_BASE_URL": "",
  "MARKETING_BASE_URL": "",
  "MARKETING_APP_KEY": "",
  "ROUTE_OPTIMIZATION_BASE_URL": "",
  "ROUTE_APP_KEY": "",
  "GOOGLE_MAPS_API_KEY": ""
}
